<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VoiceBot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88D295581D27EB8D009F2470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D2956C1D27EB91009F2470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D295771D27EB91009F2470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
